<h1>Register</h1>
<form method="post" action="/signup">
  <label>Name <input type="text" name="user[name]" value=""></label>
  <br>
  <label>Email <input type="email" name="user[email]" value=""></label>
  <br>
  <label>Password <input type="password" name="user[password]" value=""></label>
  <br>

  <input type="submit" value="Register">
</form>
